* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.field {
    display: flex;
    flex-direction: column;

}
.wrapper {
    display: flex;
    gap: 5px;
}

.container {
    border: 1px solid #3B4256;
    border-radius: 16px;
    max-width: 300px;
    width: 100%;
    margin: 0;
    
    padding: 30px;

}

span {
    font-family: 'Poppins';
    display: block;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 2px;
}
.field input, .field textarea, .field select{
    padding: 12px;
    background: #f8f8f8;
    border-radius: 4px;
    letter-spacing: 0.01em;
    flex-grow: 0;
    color:#384256;
    border: 0;
    border:  1px solid transparent;
    width: 100%;
    outline: none;
}
input:focus, textarea:focus {
    border: 1px solid #340cfc;
}
input::placeholder {
    color: #888CCA;
}
textarea {
    resize: vertical;
    min-height: 100px;
   
}
.selection {
    border: 1px solid #3B4256;
border-radius: 16px;
padding: 30px;
}
.checkbox {
    display: flex;
    gap: 10px;
}
.checkbox input {
    display: none;
}
.checkbox__box {
    width: 17px;
height: 17px;
border: 2px solid #3B4256;
border-radius: 4px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.checkbox__icon {
    display: inline-block;
  transform: rotate(45deg);
  height: 13px;
  width: 7px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}
.checkbox input:checked~.checkbox__box {
    background: #384256;
}
.checkbox input:checked~.checkbox__box .checkbox__icon {
    display: inline-block;
}


.radio {
    display: flex;
    gap: 20px;
}

.radio input {
    display: none;
}
.radio__box {
width: 20px;
height: 20px;
border: 2px solid #3B4256;
border-radius: 50%;
position: relative;
display: flex;
justify-content: center;
align-items: center;

}
.radio__icon {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3B4256;
    margin-bottom: 0;
}

.radio input:checked~.radio__box .radio__icon {
    display: inline-block;
}

.switch input {
    display: none;
}
.switch {
    display: flex;
    gap: 20px;
}
.switch__box {
    background: #E2E7ED;
    width: 51px;
    height: 31px;
    border-radius: 60px;
    position: relative;
    padding: 2px;
display: flex;

}
.switch__icon {
 height: 27px;
    width: 27px;
    border-radius: 50% ;
    background: #3B4256;;
    
}
switch input:checked~.switch__box .switch__box{
    background: #3B4256;
}
.switch input:checked~.switch__box .switch__icon {
    transform: translateX(75%);
    

}
